#gameIntroScreen, #gameQuestions, #gameFinaleScore, #gameAreaEnd {
    padding: 20px;
}
#gameIntroScreenBtn {
    align-self: center;
}
button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
#submitHighscore {
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}