#gameIntroScreen, #gameQuestions, #gameFinaleScore, #gameAreaEnd {
    padding: 20px;
}
#gameIntroScreenBtn {
    align-self: center;
}
button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
#submitHighscore {
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
div.col-6 {
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px;
}
button#viewHighScores {
    margin-left: 0px;
}